<h2>Login</h2>
<p>Please enter your login details below.</p>
<form class="login-form">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" class="btn btn-primary">Log In</button>
</form>

<h2>New Here?</h2>
<p>Sign up to join the community.</p>
<form class="sign-up-form">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<script src="/js/login.js"></script>