<h2>Login</h2>
<form class="login-form">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Submit</button>
</form>

<h2>Sign Up Here</h2>
<form class="sign-up-form">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Submit</button>
</form>

<script src="/js/login.js"></script>