<div>
    <h2 class="p-3 mb-2 bg-info text-white .bg-gradient">Share Your Thoughts</h2>
    <form id="new-post-form" class="p-3 mb-2 bg-body-secondary">
        <div class="form-group">
            <label for="title">Post Title</label>
            <input type="text" name="title" class="form-control" id="title" /> 
            </div>
        <div class="form-group">
            <label for="content">Post Content</label>
            <textarea name="content" class="form-control" id="content"></textarea>
        </div>
        <button type="submit" class="m-3 btn btn-dark">Submit</button>
    </form>
</div>

<script src="/js/new-post.js"></script>
